name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4.0.1
        with:
          command: "egctl --help"